/keren-erp/core-model/target/
/keren-erp/core-tools/target/
/keren-edu/keren-edu-model/target/
/stocks/stock-tool/target/
/stocks/stock-model/target/
/stocks/stock-core/target/
/stocks/stock-dao/target/